.userprofile-dropdown__wrapper {
    border-bottom: solid 0.3vh #BBBBBB;    
    border-top: solid 0.3vh #BBBBBB;    
    background-color: #DDDDDD;
    position: fixed;
    right: 0;
    top: 7.3vh;
    width: 13vw;
    max-width: 13vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
}