.site__wrapper {
    height: 100%;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stamp__wrapper {
    border-radius: 1vw;
    z-index: 1;
    width: 30vw;
    height: 80%;
    background-color: #EEEEEE;
    border: 0.3vh solid #DDDDDD;
    box-shadow: #BBBBBB 0 0 10vw;
}