.site__wrapper {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 60vh;
}

.stamp__container {
  scrollbar-color: #EEEEEE #FFFFFF;
  margin-top: 5vh;
  width: 100%;
  max-height: 50vh;
  overflow-y: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2vh;
  padding: 1vw 1vh;
}

.stamp__list {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  text-align: center;
  max-height: 50vh;
}

.stamp__list ul {
  list-style-type: none;
  padding: 0;
  max-height: 50vh;
}

.stamp__list h3 {
  text-align: center;
  max-height: 50vh;
}

.stamp__wrapper {
  position: absolute;
  min-height: 10vh;
  top: 15vh;
  border-radius: 1vw;
  z-index: 1;
  width: 30vw;
  background-color: #EEEEEE;
  border: 0.3vh solid #DDDDDD;
  box-shadow: #BBBBBB 0 0 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
  transition: max-height 0.3s ease-in-out;
}

.stamp-button {
  position: absolute;
  background-color: #DDDDDD;
  border-radius: 5vh;
  box-shadow: inset 1vh 1vh 2.5vh #DDDDDD, inset -1vh -1vh 2.5vh #ffffff;
  cursor: pointer;
  font-size: 2vh;
  padding: 1vh 4vh;
  transition: box-shadow 0.2s ease-in-out;
  border: 0.5vh solid #DDDDDD;
  }
  
  .stamp-button:hover {
  box-shadow: inset 1vh 1vh 2.5vh #DDDDDD, inset -1vh -1vh 2.5vh #ffffff, 0.5vh 0.5vh 0.5vh #DDDDDD, -0.5vh -0.5vh 1.25vh #ffffff;
  }
  
  .stamp-button:focus {
  outline: none;
  box-shadow: inset 1vh 1vh 2.5vh #DDDDDD, inset -1vh -1vh 2.5vh #ffffff, 0.5vh 0.5vh 0.5vh #DDDDDD, -0.5vh -0.5vh 1.25vh #ffffff;
  }

  .stamp-button:active {
  box-shadow: inset 1vh 1vh 2.5vh #DDDDDD, inset -1vh -1vh 2.5vh #ffffff, 0.5vh 0.5vh 0.5vh #DDDDDD, -0.5vh -0.5vh 1.25vh #ffffff;
  background-color: #CCCCCC;
  }