.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100%;
    background-color: #EEEEEE;
    border-right: 0.3vh solid #DDDDDD;
    box-shadow: #BBBBBB 0 0 10vw;
}