.sidebar__wrapper {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100%;
    background-color: #C78283;
    border-right: 0.3vh solid #744253;
    box-shadow: #744253 0 0 10vw;
}