.app-header {
    font-size: 2vh;
    display: flex;
    align-items: center;
    background-color: #EEEEEE;
    border-bottom: 0.3vh solid #EEEEEE;
    border-top: 0.3vh solid #EEEEEE;
    box-shadow: #BBBBBB 0 0 10vh;
    max-height: 7vh;
    width: 100vw;
}

.app-header h1 {
    font-size: 4vh;
    font-weight: bold;
}

.app-header__logo {
    padding: 0.3vh;
    margin-left: 2vw;
    width: 6vh;
    height: 6vh;
    cursor: pointer;
}

.app-header__title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
    margin-left: 2.5vw;
}