.userprofile__wrapper {
  background-color: #DDDDDD;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  right: 0;
  top: 0;
  position: absolute;
  padding: 0 1vh;
  max-height: 7.4vh;
  width: 12vw;
  min-height: 7.4vh;
}

mat-icon {
  width: 3vw;
  height: 3vw;
  font-size: 3vw
}