button {
    position: absolute;
    background-color: #DDDDDD;
    border-radius: 5vh;
    box-shadow: inset 1vh 1vh 2.5vh #DDDDDD, inset -1vh -1vh 2.5vh #ffffff;
    cursor: pointer;
    font-size: 2vh;
    padding: 1vh 4vh;
    transition: box-shadow 0.2s ease-in-out;
    border: 0.5vh solid #DDDDDD;
  }
  
  button:hover {
    box-shadow: inset 1vh 1vh 2.5vh #DDDDDD, inset -1vh -1vh 2.5vh #ffffff, 0.5vh 0.5vh 5px #DDDDDD, -0.5vh -0.5vh 1.25vh #ffffff;
  }
  
  button:focus {
    outline: none;
    box-shadow: inset 1vh 1vh 2.5vh #DDDDDD, inset -1vh -1vh 2.5vh #ffffff, 0.5vh 0.5vh 5px #DDDDDD, -0.5vh -0.5vh 1.25vh #ffffff;
  }

  button:active {
    box-shadow: inset 1vh 1vh 2.5vh #DDDDDD, inset -1vh -1vh 2.5vh #ffffff, 0.5vh 0.5vh 5px #DDDDDD, -0.5vh -0.5vh 1.25vh #ffffff;
    background-color: #CCCCCC;
  }